@model IEnumerable<PackBuddy.Models.Gear>
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Index";
}
@{
    var currentUser = await UserManager.GetUserAsync(User);
}
<div class="gearListHeader">
    <div>
        <span class="badge badge-pill badge-primary">@ViewBag.BorrowedItems.Count</span>
        <a type="button" class="btn btn-success btn-sm" asp-action="Index" asp-route-borrow="true">Borrowed Gear</a>
        <a type="button" class="btn btn-success btn-sm" asp-action="Index" asp-route-borrow="false">My Gear</a>
    </div>
    <form class="form-inline my-2 my-lg-0" asp-controller="Gears" asp-action="Index">
        <select class="form-control" name="filter" asp-items="@ViewBag.ProductTypes">
            <option selected value="0" disabled>All Gear</option>
        </select>
        <button class="btn btn-secondary my-2 my-sm-0 compSearch" type="submit">Filter</button>
    </form>
    <form class="form-inline my-2 my-lg-0" asp-controller="Gears" asp-action="Index">
        <input class="form-control mr-sm-2" type="text" name="searchString" placeholder="Search For Gear">
        <button hidden class="btn btn-secondary my-2 my-sm-0 compSearch" type="submit">Search</button>
    </form>
</div>

<p>
    <a asp-action="Create">Add Gear</a>
</p>
@if (ViewBag.nothingFound != true)
{
    <div class="gearCardList">
        @foreach (var item in Model)
        {
            <div class="gearCard card border-primary mb-3" >
                <div class="card-header">@Html.DisplayFor(modelItem => item.GearType.Label)</div>
                <div class="card-body">
                    <h6 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h6>
                    @if (item.ImagePath != null)
                    {
                        <img style=" max-height: 66px; max-width: 6rem" src="~/images/@item.ImagePath" alt="gearItem picture" />
                        <button class="btn btn-info" style="margin-top: 4rem" data-target="#gearDetails-@item.Id " data-toggle="modal">View More</button>

                    }
                    else
                    {
                        <img style=" width: 6rem" src="~/images/@item.GearType.ImagePath" alt="gearType picture" />
                        <button style="margin-top: 2rem" class="btn btn-info" data-target="#gearDetails-@item.Id " data-toggle="modal">View More</button>
                    }
                    <div class="modal" id="gearDetails-@item.Id" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">@item.Name</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="modal-body gearModalDetails">
                                    <div class="gearModalDetailsText">
                                    <p>Description: @Html.DisplayFor(modelItem => item.Description)</p>
                                    <p>Condition: @Html.DisplayFor(modelItem => item.Condtion)</p>
                                    <p>
                                        Rating: @for (var i = 0; i < item.Rating; i++)
                                        {
                                            <img style="width: 1rem;" src="~/images/goldstar.png" alt="gold star" />
                                        }
                                    </p>
                                    </div>
                                    <div>
                                        @if (item.ImagePath != null)
                                        {
                                            <img style=" max-height: 66px; max-width: 6rem" src="~/images/@item.ImagePath" alt="gearItem picture" />
                                        }
                                        else
                                        {
                                            <img style=" width: 6rem" src="~/images/@item.GearType.ImagePath" alt="gearType picture" />
                                        }
                                    </div>
                                </div>
                                <div>
                                    @if (item.ApplicationuserId == currentUser.Id)
                                    {
                                        <div class="modalGearButtons">
                                            <button class="btn btn-outline-success badge-success border-success">@Html.ActionLink("Edit", "Edit", new { id = item.Id }) </button>
                                            <form asp-controller="Gears" asp-action="Delete" method="post" asp-route-Id="@item.Id">
                                                <input type="submit" class="btn btn-danger bg-danger border-danger" value="Remove Item" />
                                            </form>
                                        </div>
                                    }
                                    else
                                    {
                                        <form asp-controller="SharedGears" asp-action="Delete" method="post" asp-route-returnItemId="@item.Id">
                                            <input type="submit" class="btn btn-danger bg-danger border-danger" value="Return" />
                                        </form>
                                    }
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <h1>Nothing Found</h1>
    <h2>Try searching for different items or borrow something!</h2>
}
