@model IEnumerable<PackBuddy.Models.Gear>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<div>
<form class="form-inline my-2 my-lg-0" asp-controller="Gears" asp-action="Index">
    <input class="form-control mr-sm-2" type="text" name="searchString" placeholder="Search For Products">
    <button hidden class="btn btn-secondary my-2 my-sm-0 compSearch" type="submit">Search</button>
</form>
<form class="form-inline my-2 my-lg-0" asp-controller="Gears" asp-action="Index">
    <select class="form-control" name="filter" asp-items="@ViewBag.ProductTypes">
        <option selected value="0" disabled> Please select a type</option>
    </select>
    <button  class="btn btn-secondary my-2 my-sm-0 compSearch" type="submit">Search</button>
</form>
</div>

<p>
    <a asp-action="Create">Add Gear</a>
</p>
<div class="gearCardList">
    @foreach (var item in Model)
    {
        <div class="card border-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">Header</div>
            <div class="card-body">
                <h4 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h4>
                <h6 class="card-title">@Html.DisplayFor(modelItem => item.GearType.Label)</h6>
                <p class="card-text">
                    @Html.DisplayFor(modelItem => item.Description)
                </p>
                <button class="btn btn-info" data-target="#gearDetails-@item.Id " data-toggle="modal">View More</button>
                <div class="modal" id="gearDetails-@item.Id" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">@item.Name</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <p>@Html.DisplayFor(modelItem => item.Rating) </p>
                                <p>@Html.DisplayFor(modelItem => item.Condtion)</p>
                                <p>@Html.DisplayFor(modelItem => item.Description)</p>
                            </div>
                            <div>
                                <button class="btn btn-outline-success badge-success border-success">@Html.ActionLink("Edit", "Edit", new { id = item.Id }) </button>
                                <form asp-controller="Gears" asp-action="Delete" method="post" asp-route-Id="@item.Id">
                                    <input type="submit" class="btn btn-danger bg-danger border-danger" value="Remove Item" />
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

