@model PackBuddy.Models.ViewModels.SharedGearsViewModels.SharedGearIndexViewModel
@{
    ViewData["Title"] = "Index";
}
@if (TempData.ContainsKey("requestCreated"))
{
    <div class="alert alert-success">
        @TempData["requestCreated"]
        @Html.ActionLink("Send a message?", "Edit", "SharedGears", new { id = TempData["gearId"] })
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    </div>
}
@if (TempData.ContainsKey("messageSent"))
{
    <div class="alert alert-success">
        @TempData["messageSent"]
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    </div>
}


<h1>Index</h1>
<div class="sharedGearHeader">

    <form class="form-inline my-2 my-lg-0" asp-controller="SharedGears" asp-action="Index">
        <input class="form-control mr-sm-2" type="text" name="searchString" placeholder="Search For friends">
        <button hidden class="btn btn-secondary my-2 my-sm-0 compSearch" type="submit">Search</button>
    </form>
    <div class="card w-25">
        <div class="card-body">
            <h5 class="card-title">Notifications</h5>
            <div>
                <span class="badge badge-pill badge-primary">@Model.RequestsReceived.Count</span>
                <p class="card-text">@(Model.RequestsReceived.Count == 1 ? "Notification": "Notifications")</p>
                @* MODAL START *@
                <button class="btn btn-info" data-target="#notifications" data-toggle="modal">View Requests</button>
                @foreach (var request in Model.RequestsReceived)
                {
                    <div class="modal" id="notifications" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Notifications</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="modal-body gearModalDetails">
                                    <div class="gearModalDetailsText">
                                        <p>@request.ApplicationUser.FirstName @request.ApplicationUser.LastName has requested: @request.Gear.Name</p>
                                        <p>@request.RequestMessage</p>
                                    </div>
                                    @if (request.Gear.ImagePath != null)
                                    {
                                        <img style=" max-height: 66px; max-width: 6rem" src="~/images/@request.Gear.ImagePath" alt="gearItem picture" />
                                    }
                                    else
                                    {
                                        <img style="width: 6rem" src="~/images/@request.Gear.GearType.ImagePath" alt="gearType picture" />
                                    }
                                </div>
                                <div class="modalGearButtons">
                                    <form asp-controller="SharedGears" asp-action="AcceptRequest" method="post" asp-route-requestId="@request.Id">
                                        <input type="submit" class="btn btn-success bg-success border-success" value="Accept" />
                                    </form>
                                    <form asp-controller="SharedGears" asp-action="Delete" method="post" asp-route-requestId="@request.Id">
                                        <input type="submit" class="btn btn-danger bg-danger border-danger" value="Deny" />
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                @* MODAL END *@
            </div>
        </div>
    </div>
</div>

@if (ViewBag.nothingFound != true)
{
    <div class="gearCardList">
        @foreach (var item in Model.FriendGears)
        {
            <div class="card border-primary mb-3 gearCard" >
                <div class="card-header">@Html.DisplayFor(modelItem => item.GearType.Label)</div>
                <div class="card-body">
                    <h6 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h6>
                    @if (item.ImagePath != null)
                    {
                        <img style=" max-height: 66px; max-width: 6rem" src="~/images/@item.ImagePath" alt="gearItem picture" />
                        <button style="margin-top: 4rem" class="btn btn-info" data-target="#gearDetails-@item.Id " data-toggle="modal">View More</button>
                    }
                    else
                    {
                        <img style="width: 6rem" src="~/images/@item.GearType.ImagePath" alt="gearType picture" />
                        <button style="margin-top: 2rem" class="btn btn-info" data-target="#gearDetails-@item.Id " data-toggle="modal">View More</button>
                    }
                    <div class="modal" id="gearDetails-@item.Id" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">@item.Name</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="modal-body gearModalDetails">
                                    <div class="gearModalDetailsText">
                                        <p>Description: @Html.DisplayFor(modelItem => item.Description)</p>
                                        <p>Condition: @Html.DisplayFor(modelItem => item.Condition)</p>
                                        <p>
                                            Rating: @for (var i = 0; i < item.Rating; i++)
                                            {
                                                <img style="width: 1rem;" src="~/images/goldstar.png" alt="gold star" />
                                            }
                                        </p>
                                    </div>
                                    <div>
                                        @if (item.ImagePath != null)
                                        {
                                            <img style=" max-height: 66px; max-width: 6rem" src="~/images/@item.ImagePath" alt="gearItem picture" />
                                        }
                                        else
                                        {
                                            <img style=" width: 6rem" src="~/images/@item.GearType.ImagePath" alt="gearType picture" />
                                        }
                                    </div>
                                </div>
                                <div>
                                    <form asp-controller="SharedGears" asp-route-gearId="@item.Id" asp-action="Create">
                                        <input type="submit" class="btn btn-success bg-success border-success" value="Request it" />
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <h1>Search for a friends email to check out their Gear</h1>
}