@model PackBuddy.Models.ViewModels.SharedGearsViewModels.SharedGearIndexViewModel
@{
    ViewData["Title"] = "Index";
}
@if (TempData.ContainsKey("requestCreated"))
{
    <div class="alert alert-success">
        @TempData["requestCreated"]
        @Html.ActionLink("Send a message?", "Edit", "SharedGears", new { id = TempData["gearId"] })
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    </div>
}

<h1>Index</h1>
<form class="form-inline my-2 my-lg-0" asp-controller="SharedGears" asp-action="Index">
    <input class="form-control mr-sm-2" type="text" name="searchString" placeholder="Search For friends">
    <button hidden class="btn btn-secondary my-2 my-sm-0 compSearch" type="submit">Search</button>
</form>
@if (ViewBag.nothingFound != true)
{
    <div class="gearCardList">
        @foreach (var item in Model.FriendGears)
        {
            <div class="card border-primary mb-3" style="max-width: 20rem;">
                <div class="card-header">@Html.DisplayFor(modelItem => item.Name)</div>
                <div class="card-body">
                    <h6 class="card-title">@Html.DisplayFor(modelItem => item.GearType.Label)</h6>
                    @if (item.ImagePath != null)
                    {
                        <img style="max-height: 250px; max-width: 5rem" src="~/images/@item.ImagePath" alt="gearItem picture" />
                    }
                    else
                    {
                        <img style="max-height: 250px; max-width: 5rem" src="~/images/@item.GearType.ImagePath" alt="gearType picture" />
                    }
                    <p class="card-text">
                        @Html.DisplayFor(modelItem => item.Description)
                    </p>
                    <button class="btn btn-info" data-target="#gearDetails-@item.Id " data-toggle="modal">View More</button>
                    <div class="modal" id="gearDetails-@item.Id" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">@item.Name</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <p>@Html.DisplayFor(modelItem => item.Rating) </p>
                                    <p>@Html.DisplayFor(modelItem => item.Condtion)</p>
                                    <p>@Html.DisplayFor(modelItem => item.Description)</p>
                                </div>
                                <div>
                                    <form asp-controller="SharedGears" asp-route-gearId="@item.Id" asp-action="Create">
                                        <input type="submit" class="btn btn-success bg-success border-success" value="Request it" />
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <h1>Search for a friends email to check out their Gear</h1>
}
