@model PackBuddy.Models.Trip

@{
    ViewData["Title"] = "Details";
}

<h1 style="text-align:center">@Model.Name</h1>

<div>
    <hr />
    <h3 style="text-align:center">  @Html.DisplayFor(model => model.StartDate) -  @Html.DisplayFor(model => model.EndDate)</h3>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
    </dl>
            <div class="tripDetailGearList">
           @foreach(var geartrip in Model.GearTrips)
           {
            <div class="tripGearCard card border-primary mb-3">
                <div class="card-header">@Html.DisplayFor(modelItem => geartrip.Gear.GearType.Label)</div>
                <div class="card-body">
                    <h6 class="card-title">@Html.DisplayFor(modelItem => geartrip.Gear.Name)</h6>
                    @if (geartrip.Gear.ImagePath != null)
                    {
                        <img style=" max-height: 22px; max-width: 2rem" src="~/images/@geartrip.Gear.ImagePath" alt="gearItem picture" />
                    }
                    else
                    {
                        <img style="width: 2rem" src="~/images/@geartrip.Gear.GearType.ImagePath" alt="gearType picture" />
                    }
                </div>
            </div>      
           }
            </div>
</div>
<div>
    @Html.ActionLink("Add Notes", "Edit", new { id = Model.Id }) |
    @if (Model.EndDate > DateTime.Now)
    {
        @Html.ActionLink("Add Gear", "Edit", "GearTrips", new { tripId = Model.Id })
    }
    |
    <a asp-action="Index">Back to List</a>
</div>
