@model PackBuddy.Models.ViewModels.GearTripViewModels.AddGearTripViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Start</h1>

<h4>Packing!</h4>
<hr />
<form asp-action="Create">
    <div class="gearTrip_GearCardList">
        @for (var i = 0; i < Model.AddedGears.Count; i++)
        {
        <div class="card border-primary mb-3" style="max-width: 9rem;">
            <div class="card-header">@Html.DisplayFor(modelItem => Model.AddedGears[i].Gear.Name)</div>
            <div class="card-body">
                <h6 class="card-title">@Html.DisplayFor(modelItem => Model.AddedGears[i].Gear.GearType.Label)</h6>
                @if (Model.AddedGears[i].Gear.ImagePath != null)
                {
                    <img style="max-height: 50px; max-width: 2rem" src="~/images/@Model.AddedGears[i].Gear.ImagePath" alt="gearItem picture" />
                }
                else
                {
                    <img style="max-height: 50px; max-width: 2rem" src="~/images/@Model.AddedGears[i].Gear.GearType.ImagePath" alt="gearType picture" />
                }
               
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="@Model.Trip.Id" />
                <input type="hidden" asp-for="@Model.AddedGears[i].Gear.Id" />
                <label asp-for="@Model.AddedGears[i].SelectedGear">Pack it?</label><br>
                <input asp-for="@Model.AddedGears[i].SelectedGear" type="checkbox" class="form-control" value="true">
            </div>
        </div>
        }
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>
<div>
    <a asp-controller="Trips" asp-action="Index">Back to List</a>
</div>

